<%- include('../partials/header') %>

<div class="center-container">
    <div class="title-container">
        <h3>Create a Grocery List</h3>
    </div>
    <form action="/lists/create" method="POST" class="input-form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
        </div>
        <!-- <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description"></textarea>
        </div> -->
        <button type="submit">Create List</button>
    </form>
</div>

<%- include('../partials/footer') %>
