<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav>
        
        <a href="/home">Home</a>
        <% if (user) { %>
          <a href="/list/all">My Lists</a>
          <a href="/logout">Log Out</a>
          <% } else { %>
            <a href="/auth/google" class="login">Log In</a>
          <% } %>
    
    
    
      </nav>
<main>
    
        