* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vmin;
  color: #333;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vmin;
  margin: 1vmin;
}

.title-container h3 {
  font-size: 2vmin;
}

/* home page styles */
.home-container {
  text-align: center;
  margin: 50px auto;
}

.home-container h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.home-container .login {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.home-container .login:hover {
  background-color: #555;
}

/* button and a href styles */
.button {
  padding: 0.8vmin 1.6vmin;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 1.6vmin;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  min-width: 10vmin;
  text-align: center; 
}

.button:hover {
  background-color: #333;
  color: #fff;
}

/* avatar container styles*/
.name-avi-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80vmin;
}

.name-avi-container h4 {
  margin-right: 1vmin;
}

.icon {
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  margin-right: 1vmin;
}

/* table styles */
.items-table {
  width: 80vmin;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.items-table th,
.items-table td {
  padding: 1.25vmin;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.items-table th:last-child,
.items-table td:last-child {
  text-align: right;
}

.items-table th {
  background-color: #f2f2f2;
}

.items-table tbody tr:hover {
  background-color: #f9f9f9;
}

.shared-users-table {
  width: 80vmin;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 2vmin;
}

.shared-users-table th,
.shared-users-table td {
  padding: 1vmin;
  border-bottom: 1px solid #ccc;
}

.shared-users-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.shared-users-table td {
  text-align: left;
}

.shared-users-table tbody tr:hover {
  background-color: #f9f9f9;
}

.shared-users-table .icon {
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
}

.shared-users-table .name {
  font-weight: bold;
}

.shared-users-table .role {
  color: #666;
}

.shared-users-table .owner {
  color: #00b300;
}

.shared-users-table .collaborator {
  color: #3366cc;
}


/* List styles */
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vmin;
  padding: 3vmin;
  border: 0.5vmin solid #ccc;
  border-radius: 1vmin;
  width: 80vmin;
}

.list a {
  text-decoration: none;
  color: #333;
  flex-grow: 1;
}

.list a:hover {
  text-decoration: underline;
}

.owner-name {
  color: #666;
  margin-right: 1vmin;
  font-size: 1.4vmin;
}

.avatar {
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  margin-right: 1vmin;
}

.created {
  color: #999;
  font-size: 1.2vmin;
  margin-top: 1vmin;
  margin-right: 1vmin;
}

.title-button {
  margin-left: 2vmin;
}

/* Form styles */

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vmin;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}