<%- include('../partials/header') %>

<div class="center-container">

    <div class="title-container">
        <h3>Add an Item</h3>
    </div>
    
    <div class="list-container">
        <form action="/items/create" method="POST" class="input-form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select id="category" name="category" required>
                    <option value="" disabled selected>Select a category</option>
                    <option value="Fruits and Vegetables">Fruits and Vegetables</option>
                    <option value="Dairy and Eggs">Dairy and Eggs</option>
                    <option value="Meat and Poultry">Meat and Poultry</option>
                    <option value="Seafood">Seafood</option>
                    <option value="Bread and Bakery">Bread and Bakery</option>
                    <option value="Cereal and Breakfast Foods">Cereal and Breakfast Foods</option>
                    <option value="Pasta and Rice">Pasta and Rice</option>
                    <option value="Canned Goods">Canned Goods</option>
                    <option value="Frozen Foods">Frozen Foods</option>
                    <option value="Snacks and Chips">Snacks and Chips</option>
                    <option value="Beverages">Beverages</option>
                    <option value="Condiments and Sauces">Condiments and Sauces</option>
                    <option value="Baking Supplies">Baking Supplies</option>
                    <option value="Spices and Seasonings">Spices and Seasonings</option>
                    <option value="Oils and Vinegars">Oils and Vinegars</option>
                    <option value="Sweets and Desserts">Sweets and Desserts</option>
                    <option value="Baby and Infant">Baby and Infant</option>
                    <option value="Personal Care">Personal Care</option>
                    <option value="Household Supplies">Household Supplies</option>
                    <option value="Pet Food and Supplies">Pet Food and Supplies</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Price (optional)</label>
                <input type="number" id="price" name="price" step="0.01" min="0">
            </div>
            
            <button type="submit" class="button">Add</button>
        </form>
    </div>
    
</div>

<%- include('../partials/footer') %>
